/* Add New Position Page Style Sheet */

select {
    border-radius: 5px;
    border: 2px solid var(--geek-purple-dark);
    background: white;
    width: 42%;
}
textArea {
    border-radius: 5px;
    border: 2px solid var(--geek-purple-dark);
    color: black;
    margin: 0;
    padding: 1%;
}
textArea:hover {
    background: var(--geek-purple-lighter);
}
.eighty_percent {
    width: 80%;
    margin: auto;
}
.generic_section {
    display: grid;
    grid-template-columns: 35% 60%;
}
.generic_section label {
    text-align: right;
}
#education_required_label, #experience_required_label {
    padding: 0.5rem 1rem;
}
.checkbox {
    display: flex;
}
.spanWrapper {
    display: grid;
    grid-template-columns: 35% 60%;
    align-items: center;
}
.keyword_table {
    background-color: var(--geek-blue-lighter);
    border-radius: 5px;
    min-height: 2rem;
    width: 100%;
}
.keywordRow {
    display: grid;
    grid-template-columns: 60% 5% 5% 5% 10%;
    grid-gap: 1em;
    padding: 1em;
    align-items: start;
    vertical-align: text-top;
 }
 .keywordRow label {
    text-align: left;
    padding: 0; /* this should be in global css for all labels man ...*/
 }
 .addKeywordWrapper {
    display: flex;
    justify-content: right;
    width: 95%;
 }
 .submit_section {
    display: flex;
    padding: 1rem 0;
    justify-content: center;
 }
input[type="date"] {
    border-radius: 5px;
    border: 2px solid var(--geek-purple-dark);
    width: 25%;
    height: 50%;
    text-align: center;
    align-self: center;
    font-size: 1.1em;
}
input[type="date"]:hover {
    background: var(--geek-purple-lighter);
}
input[type="text"] {
    border-radius: 5px;
    border: 2px solid var(--geek-purple-dark);
    color: black;
    width: 70%;
    font-size: 1.1em;
    padding: 1%;
}
input[type="text"]:hover {
    background: var(--geek-purple-lighter);
}
input[type="number"] {
    border-radius: 5px;
    border: 2px solid var(--geek-purple-dark);
    color: black;
    width: 20%;
    font-size: 1.1em;
    padding: 1%;
}
input[type="number"]:hover {
    background: var(--geek-purple-lighter);
}