/* Add New Candidate Page Style Sheet */

select {
    border-radius: 5px;
    border: 2px solid var(--geek-purple-dark);
    background: white;
    width: 60%;
}
textArea {
    border-radius: 5px;
    border: 2px solid var(--geek-purple-dark);
    color: black;
    margin: 0;
    padding: 1%;
}
textArea:hover {
    background: var(--geek-purple-lighter);
}
.form-wrapper {
    width: 80%;
    margin: auto;
}
.generic_section {
    display: grid;
    grid-template-columns: 35% 60%;
}
.generic_section label {
    text-align: right;
}
.spanWrapper {
    display: grid;
    grid-template-columns: 35% 60%;
    align-items: center;
}
.skill_table {
    background-color: var(--geek-blue-lighter);
    border-radius: 5px;
    min-height: 2rem;
    width: 100%;
}
.keywordRow {
    display: grid;
    grid-template-columns: 60% 5% 5% 5% 10%;
    grid-gap: 1em;
    padding: 1em;
    align-items: start;
    vertical-align: text-top;
 }
 .keywordRow label {
    text-align: left;
    padding: 0; /* this should be in global css for all labels man ...*/
 }
 .addKeywordWrapper {
    display: flex;
    justify-content: right;
    width: 95%;
 }
 .submit_section {
    display: flex;
    padding: 1rem 0;
    justify-content: center;
 }
input[type="date"] {
    border-radius: 5px;
    border: 2px solid var(--geek-purple-dark);
    width: 25%;
    height: 50%;
    text-align: center;
    align-self: center;
    font-size: 1.1em;
}
input[type="date"]:hover {
    background: var(--geek-purple-lighter);
}
input[type="text"] {
    border-radius: 5px;
    border: 2px solid var(--geek-purple-dark);
    color: black;
    width: 60%;
    font-size: 1.1em;
    padding: 1%;
}
input[type="text"]:hover {
    background: var(--geek-purple-lighter);
}

table{
    min-width: 0px;
}
.collapsibleContent{
    overflow: auto;
}

#other_info_container{
    transition: opacity .2s;
}
.apply-header{
    color: var(--geek-purple);
    text-align: center;
}
.innerWrapper {
    display: flex;
    margin-bottom: 2rem;
}
.left {
    flex-grow: .3;
    flex-basis: 0;
}
.right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.info{
    background-color: lightgrey;
    position: fixed;
    width: 30%;
    top: 14%;
    left: 1%;
    border-radius: 10px 10px 0px 0px;
    height: 10%;
}
.description{
    background-color: lightgrey;
    overflow-y: scroll;
    height: 523px;
    color: black;
    padding: 4px;
    border-radius: 10px;
}

#position_information_description tr:nth-child(odd) td:nth-child(odd){
   background-color: var(--geek-purple-light);
}

#position_information_description tr:nth-child(odd) td:nth-child(even){
   background-color: var(--grey);
}


#position_information_other td{
   vertical-align: middle;
   white-space: normal;
}
#position_information_other tr:nth-child(odd) td:nth-child(odd){
   background-color: var(--geek-purple-lighter);
}

#position_information_other tr:nth-child(even) td:nth-child(odd){
   background-color: var(--geek-purple-light);
}

#position_information_other tr:nth-child(even) td:nth-child(even){
   background-color: var(--grey);
}
td.title{
   font-weight: bold;
   width: 14%;
}
p.bubble{
   display: inline;
   background-color: var(--geek-purple-light);
   padding: 5px;
   border-radius: 10px;
}

#pop-up-form{
    display: none;
    position:fixed;
    background-color: white;
    border-radius: 20px;
    height: 180px;
    width: 340px;
    top: 50%;
    left: 50%;
    margin-top: -90px;
    margin-left: -170px;
    z-index: 101;
    padding-left: 10px;
}

#grey-out{
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 100;
}

#pop-up-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding: 10px;
}