.apply-header{
    color: var(--geek-purple);
    text-align: center;
    text-decoration: underline;
}
.info-container{
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 150px 300px;
    align-items: center;
}

.button-grid{
    padding-top: 15px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
}
.label{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    padding: 10px;
    text-align: right;
}
.info{
    font-size: 1.3rem;
    padding: 10px;
}
input.change-info{
    width: 100%;
    margin: 0px 0px 0px 10px;
}
input.change-info-password{
    width: 100%;
    margin: 20px 0;
}

.password {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#password-info{
    display: none;
}
#password-form{
     overflow: hidden;
     max-height: 0px;
     transition: max-height .3s ease-out;
     width: 300px;
}

.inner-wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#response{
    min-height: 18px;
}