.apply-header{
    color: var(--geek-purple);
    text-align: center;
    text-decoration: underline;
}
.info-container{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35%;
}
.label{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    padding: 10px;
}
.info{
    font-size: 20px;
    padding: 10px;
}
input.change-info{
    width: 40%;
}
.password {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#password-info{
    display: none;
}
#username-form{
    overflow: hidden;
    max-height: 0px;
    transition: max-height .3s ease-out;
}
#password-form{
     overflow: hidden;
     max-height: 0px;
     transition: max-height .3s ease-out;
}
#first-name-form{
     overflow: hidden;
     max-height: 0px;
     transition: max-height .3s ease-out;
}
#last-name-form{
     overflow: hidden;
     max-height: 0px;
     transition: max-height .3s ease-out;
}
#email-form{
     overflow: hidden;
     max-height: 0px;
     transition: max-height .3s ease-out;
}